<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thomas Ollivier</title>

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700|Roboto">

    <!-- Fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Your style -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
   <div class="card text-center">
    <%= image_tag "logoblanc.png", id: "logo" %>
    <h1>Bienvenue dans le Photomaton d'Okoni !</h1>
    <br>
    <h4>Grâce à lui, vous allez faire partie de la communautée Okoni. Vous allez renseigner
        quelques informations qui pourront nous être utiles si nous avons besoins de vous,
        ou tout simplement pour vous tenir informé des activitées de l'agence ! Vous êtes prêt ?
    </h4>
    <br>
    <a href="http://www.theuselessweb.com/" class="lol" target="_blank">Let's go !</a>
</div>

</body>
</html>




