<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thomas Ollivier</title>

    <!-- Google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700|Roboto">

    <!-- Fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Your style -->
    <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="card text-center">
    <%= image_tag "logoblanc.png", id: "logo" %>
  </div>

  <div class="card text-center">
    <h1>Bienvenue dans le Photomaton d'Okoni !</h1>
  </div>
  <div class="card text-center">
    <%= link_to "Rejoignez nous !", new_profil_path,  :class => "btn btn-primary" %>
  </div>

</body>
</html>




