.form-profil {
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  background: white;
  margin-top: 70px;
  padding: 35px;
  border-radius: 5px;
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #1D1D1D;
    margin-bottom: 45px;
  }
  h1 {
    font-weight: bold;
    color: #1D1D1D;
    text-align: center;
    font-size: 40px;
    margin-bottom: 45px;
  }
  h4 {
    color: #1D1D1D;
    text-align: center;
  }
}

.btn {
    width: 100%;
    text-align: center;
    margin-top: 10px;

}

.expertise-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0px;


}

.expertise-choice {
  text-align: center;
  flex: 0 0 45%;
  background: #e6e6e6;
  padding: 20px;
  border-radius: 5px;
  opacity: 0.4;
  &:hover {
    opacity: 1;
    background: #BCBCBC;
    cursor: pointer;
  }
  &.active {
    background: $brand-primary;
    color: white;
    opacity: 1;
  }
}

.basics {
  margin-bottom: 25px;

}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color {
  color: white;
}

.form {
  text-align: center;
  margin-top: 45px;
}

.link {
  margin-top: 40px;
  text-align: center;
}

